<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RETURNS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
    <style>
        /* Add your custom styles here */
        body {
            background-color: #343a40;
            background-repeat: no-repeat;
        }

        .sidebar{
            background-color: black;
        }
        .sidebar:hover{
            background-color: #191a1a;
        }

        table {
            margin-top: 1rem;
        }

        .page-item {
            margin: 0.5rem;
        }

        table.table-bordered {
            border-width: 2px;
        }

        table.table-bordered th,
        table.table-bordered td {
            border-width: 2px;
        }

        .sidebar1 {
            background-color: black;
        }
    </style>
</head>

<body>
    <!-- Navbar -->

    <nav class="navbar navbar-dark bg-dark fixed-top ">
        <div class="container-fluid py-2">
            <span class="navbar-brand text-light h1 ps-3">SHOPPIE-E ADMIN</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light pe-5" href="/admin/adminHome">HOME</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar end -->

    <div class="container-fluid position-relative text-light pt-5">
        <div class="row pt-5 text-light">
            <div class="col-md-2 col-12 ">
                <div class="row px-5 py-3 border sidebar" style="border-color: black !important;">
                    <a class="navbar-brand text-light fs-6 fw-bold " href="/admin/all-users"><i class="fa-solid fa-list"></i>
                        Users</a>
                </div>
                <div class="row px-5 py-3 border sidebar" style="border-color: black !important;">
                    <a class="navbar-brand text-light fs-6 fw-bold " href="/product/getallproducts"><i
                            class="fa-solid fa-list"></i></i> Products</a>
                </div>
                <div class="row px-5 py-3 border sidebar" style="border-color: black !important;">
                    <a class="navbar-brand text-light fs-6 fw-bold" href="/product/getallcategory"><i
                            class="fa-solid fa-list"></i> Category</a>
                </div>
                <div class="row px-5 py-3 border sidebar" style="border-color: black !important;">
                    <a class="navbar-brand text-light fs-6 fw-bold" href="/admin/get-orders"><i
                            class="fa-solid fa-list"></i> Orders</a>
                </div>
                <div class="row px-5 py-3 border sidebar" style="border-color: black !important;">
                    <a class="navbar-brand text-light fs-6 fw-bold" href="/admin/coupons"><i
                            class="fa-solid fa-list"></i> Coupons</a>
                </div>
                <div class="row px-5 py-3 border sidebar" style="border-color: black !important;">
                    <a class="navbar-brand text-light fs-6 fw-bold" href="/admin/get-returns"><i
                            class="fa-solid fa-right-long"></i> Returns</a>
                </div>
                <div class="row px-5 py-3 border sidebar" style="border-color: black !important;">
                    <a class="navbar-brand text-light fs-6 fw-bold" href="/admin/dashboard"><i
                            class="fa-solid fa-list"></i> Statics</a>
                </div>
            </div>
            <div class="col-md-10 col-12">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-md-2">
                            <h3 class="text-start">Returns</h3>
                        </div>
                    </div>



                    <div class="row mt-4">
                        <div class="col-12">
                            <%const sortedReturns = returns.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt)).reverse();                            ;

                                if (sortedReturns.length === 0) {
                                %>
                                <p>No returns available.</p>
                                <% } else { %>
                                    <table class="table table-bordered table-striped table-dark">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>User Email</th>
                                                <th>Product</th>
                                                <th>Reason</th>
                                                <th>Images</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% returns.forEach(returnItem=> { %>
                                                <tr>
                                                    <td>
                                                        <%= returnItem.user.name %>
                                                    </td>
                                                    <td>
                                                        <%= returnItem.user.email %>
                                                    </td>
                                                    <td>
                                                        <%= returnItem.product.title %>
                                                    </td>
                                                    <td>
                                                        <%= returnItem.reason %>
                                                    </td>
                                                    <td>
                                                        <% returnItem.images.forEach(image=> { %>
                                                            <img src="/productImages/<%= image %>" alt="Return Image"
                                                                style="max-width: 50px; max-height: 50px;">
                                                            <% }); %>
                                                    </td>
                                                    <td>
                                                        <%= returnItem.status %>

                                                    </td>
                                                    <td>
                                                        <form action="/admin/view-return/<%= returnItem._id %>"
                                                            method="get">
                                                            <button type="submit" class="btn btn-dark">View</button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                    <% } %>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>