<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .container {
            min-height: 700px;
        }

        body {
            background-color: #343a40;
        }
        .pcard{
            max-width: 400px;
        }
        .edit{
            min-width: 600px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SHOPPIE-E</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link mx-2 active" aria-current="page" href="/api/product/allproducts">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="/api/user/home">HOME</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item mx-2">
                        <% if (user) { %>
                            <h5 class="text-dark">
                                <%= user.name %>
                            </h5>
                        <% } else { %>
                            <p class="text-light">User not found</p>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--nav ends-->
    <div class="container-fluid pt-5">
        <div class="container pt-5 text-light">
            <div class="row">
                <div class="col">
            <h1>Payment Details</h1>
    
            <% cart.forEach(item => { %>
                <div class="card my-3 pcard">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.product.title %></h5>
                        <p class="card-text">Price: <%= item.price %></p>
                        <p class="card-text">Quantity: <%= item.quantity %></p>
                    </div>
                </div>
            <% }); %>   
            <p>Total Amount: <%= totalAmount %></p>
            <form action="/api/user/apply-coupon" method="POST">
                <label for="couponCode">Coupon Code:</label>
                <input type="text" name="couponCode" required>
                <button class="btn btn-dark" type="submit">Apply </button>
            </form>
    
            <!-- Cash on Delivery button -->
            <form action="/api/user/cart-order" method="post">
                <button type="submit" class="btn btn-dark mt-3">Order by COD</button>
            </form>
    
            <!-- Internet Banking button -->
            <form action="/api/user/payment/internet-banking" method="post">
                <button type="submit" class="btn btn-dark mt-3">Order by Internet Banking</button>
            </form>         
            
        </div>
            <div class="col pt-5">
                
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Your  Selected Address</h5>
                            <% user.address.forEach(address => { %>
                                <ul class="list-group pt-3">
                                    <li class="list-group-item"><b>Country:</b>  <%= address.country %></li>
                                    <li class="list-group-item"><b>State:</b>  <%= address.state %></li>
                                    <li class="list-group-item"><b>District:</b>  <%= address.district %></li>
                                    <li class="list-group-item"><b>City:  </b><%= address.city %></li>
                                    <li class="list-group-item"><b>Street:  </b><%= address.street %></li>
                                    <li class="list-group-item"><b>House Nam</b>e:  <%= address.housename %></li>
                                    <li class="list-group-item"><b>Pincode: </b> <%= address.pincode %></li>
                                </ul>
                                <div class="pt-2">
                                <a href="/api/user/cart-edit-address/<%= address._id %>" class="btn btn-dark edit">Edit</a>
                            </div>
                            <% }); %>
                        </div>
                    </div>
        </div>
    </div>
    </div>
</div>
    <!--footer-->
    <footer class="bg-dark pt-4 pb-4 ">
        <div class="container-fluid text-center text-md-left  ">
            <div class="row text-start text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-warning">
                    <h6 class="text-light mb-4 font-weight-bold">ABOUT</h6>
                    <a class="navbar-brand text-light " href="">Contact Us</a><br><br>
                    <a class="navbar-brand text-light " href="">About Us</a>
                    <div class="col-md col-lg col-xl mx-auto mt-3">
                        <h6 class="text-light mb-4 font-weight-bold text-warning">OUR PRODUCTS</h6>
                        <div class="text-white">
                            <a class="navbar-brand text-light " href="">Mobiles</a><br><br>
                            <a class="navbar-brand text-light " href="">Laptops</a><br><br>
                            <a class="navbar-brand text-light " href="">Televisions</a><br><br>
                            <a class="navbar-brand text-light " href="">Smart Watches</a><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>
