<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        .container {
            min-height: 700px;
        }

        body {
            background-color: #343a40;
        }

        .edit {
            min-width: auto;
        }

        .btn {
            border-radius: 15px;
        }

        .btno {
            margin: 5px;
        }

        .purchasebuttons {
            justify-content: space-between;
        }

        .button {
            min-width: 200px;
        }

        .order-success-message {
            text-decoration: rgb(7, 177, 121);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SHOPPIE-E</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a class="nav-link mx-2 active" aria-current="page" href="/product/allproducts">PRODUCTS</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link mx-2 active" aria-current="page" href="/user/get-coupons">COUPONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="/user/home">HOME</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item mx-2">

                    </li>
                    <li>
                        <% if (user) { %>
                            <h5 class="text-dark">
                                <%= user.name %>
                            </h5>
                            <% } else { %>
                                <p class="text-light">User not found</p>
                                <% } %>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--nav ends-->
    <div class="container-fluid pt-5">
        <div class="container pt-5 ">
            <h3 class="text-light">Payment Details</h3>

            <!-- Display details for the specific product -->
            <div class="row">
                <div class="col text-light">
                    <div class="product-card">
                        <% const firstImage=product.images[0]; %>
                            <img src="/productImages/<%= firstImage %>" alt="<%= product.title %>"
                                style="width: 200px; height: 200px;">


                            <h3>
                                <%= product.title %>
                            </h3>
                            <p>Price: <%= product.price %>
                            </p>
                            <% if (discountedPrice) { %>
                                <p>Discounted Price: <%= discountedPrice %>
                                </p>
                                <% } %>
                                        <% if (offerPrice) { %>
                                            <p style="color: rgb(76, 201, 76);">Offer Price: <%= offerPrice %>
                                            </p>
                                            <% }  %>
                                                    <div class=" purchasebuttons">
                                                        <% if (!offerPrice) { %>
                                                            <form action="/user/apply-coupon" method="POST"
                                                                id="couponForm">
                                                                <input type="hidden" name="productId"
                                                                    value="<%= product._id %>">
                                                                
                                                                <input type="text" name="couponCode" placeholder="Coupon code">
                                                                <button class="btn btn-dark"
                                                                    type="submit">Apply</button>
                                                            </form>
                                                            <% } %>

                                                                <!-- Cash on Delivery button -->
                                                                <div class="cod">
                                                                    <p>Choose payment method</p>
                                                                    <form
                                                                        action="/user/order-product?productId=<%= product._id %>"
                                                                        method="post">
                                                                        <button type="submit"
                                                                            class="btn btn-dark button">COD</button>
                                                                    </form>
                                                                </div>
                                                                <% if(typeof message !=="undefined" ){ %>
                                                                    <p style="color: red;">
                                                                        <%= message %>

                                                                    </p>
                                                                    <% } %>
                                                                        <div class="pb-2">
                                                                            <form action="/user/wallet-buy-product"
                                                                                method="post">
                                                                                <input type="hidden" name="productId"
                                                                                    value="<%= product._id %>">
                                                                                <button type="submit"
                                                                                    class="btn btn-dark button">Wallet</button>
                                                                            </form>
                                                                            
                                                                        </div>

                                                                        <form class="pay-form"
                                                                            action="/user/order-product-online?productId=<%= product._id %>"
                                                                            method="post">
                                                                            <input type="hidden" name="totalAmount"
                                                                                value="<%= totalAmount %>">
                                                                            <button type="submit"
                                                                                class="btn btn-dark btno button">Online</button>
                                                                        </form>
                                                                      </div>

                    </div>
                </div>
                <div class="col">
                    <!-- Order Success Modal -->
                    <div class="modal fade" id="orderSuccessModal" tabindex="-1" role="dialog"
                        aria-labelledby="orderSuccessModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="orderSuccessModalLabel">Payment Success!</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>your payment done successfully</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="/user/ordersuccess" >
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card text-light">
                        <div class="card-body">
                            <h5 class="card-title text-dark">Your Selected Address</h5>
                            <% user.address.forEach(address=> { %>
                                <ul class="list-group pt-3">
                                    <li class="list-group-item"><b>Country:</b>
                                        <%= address.country %>
                                    </li>
                                    <li class="list-group-item"><b>State:</b>
                                        <%= address.state %>
                                    </li>
                                    <li class="list-group-item"><b>District:</b>
                                        <%= address.district %>
                                    </li>
                                    <li class="list-group-item"><b>City: </b>
                                        <%= address.city %>
                                    </li>
                                    <li class="list-group-item"><b>Street: </b>
                                        <%= address.street %>
                                    </li>
                                    <li class="list-group-item"><b>House Nam</b>e: <%= address.housename %>
                                    </li>
                                    <li class="list-group-item"><b>Pincode: </b>
                                        <%= address.pincode %>
                                    </li>
                                </ul>
                                <div class="pt-2 text-center ">
                                    <a href="/user/product-edit-address/<%= address._id %>"
                                        class="btn btn-dark edit">Edit</a>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark pt-4 pb-4 ">
        <div class="container-fluid text-center text-md-left  ">
            <div class="row text-start text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-warning">
                    <h6 class="text-light mb-4 font-weight-bold">ABOUT</h6>
                    <a class="navbar-brand text-light " href="">Contact Us</a><br><br>
                    <a class="navbar-brand text-light " href="">About Us</a>
                    <div class="col-md col-lg col-xl mx-auto mt-3">
                        <h6 class="text-light mb-4 font-weight-bold text-warning">OUR PRODUCTS</h6>
                        <div class="text-white">
                            <a class="navbar-brand text-light " href="">Mobiles</a><br><br>
                            <a class="navbar-brand text-light " href="">Laptops</a><br><br>
                            <a class="navbar-brand text-light " href="">Telivisions</a><br><br>
                            <a class="navbar-brand text-light " href="">Smart Watches</a><br><br>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            try {
                const onlinePaymentButton = document.querySelector('.pay-form button[type="submit"]');

                if (onlinePaymentButton) {
                    onlinePaymentButton.addEventListener('click', async function (e) {
                        e.preventDefault();

                        const response = await fetch('/api/user/order-product-online', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                productId: '<%= product._id %>',
                            }),
                        });

                        if (!response.ok) {
                            throw new Error('Failed to fetch Razorpay details');
                        }

                        const razorpayDetails = await response.json();

                        const razorpayOptions = {
                            key: 'rzp_test_NzVIitzU3SQBqm',
                            amount: razorpayDetails.totalAmount,
                            currency: 'INR',
                            order_id: razorpayDetails.orderId,
                            handler: function (response) {
                                console.log(response); // Handle the success response

                                // Set a variable to indicate order success
                                const orderSuccess = true;

                                // Display the Bootstrap modal
                                const orderSuccessModal = new bootstrap.Modal(document.getElementById('orderSuccessModal'));
                                orderSuccessModal.show();
                            },
                            prefill: {
                                name: 'Your Name',
                                email: 'your.email@example.com',
                                contact: 'Your Contact Number',
                            },
                            notes: {
                                address: 'Your Address',
                            },
                            theme: {
                                color: '#343a40',
                            },
                        };

                        const rzp = new Razorpay(razorpayOptions);

                        // Open the Razorpay payment interface
                        rzp.open();
                    });
                }
            } catch (error) {
                console.error('Error initializing Razorpay:', error);
            }
        });
    </script>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>

</html>