<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<style>
    body{
        background-color: #343a40;
    }
    .Addressformm{
        background-color: #343a40;
    }
</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SHOPPIE-E</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
            
          
      
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              
            </ul>
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href="/user/home">HOME</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    
    <div class="text-center pt-4" id="">
        <div class="container-fluid w-25  Addressformm pt-5">
            <h3 class=" container text-center pt-4 text-primary">Edit Address</h3>
            <%  if(typeof message !=="undefined"){
                %>
                <p style="color: green;"><%= message %>

                </p>
                <%
                }
                %>
                
                <form action="/user/edit-address/<%= address._id %>" method="POST">
                    <div class="form-group">
                        <small class="form-text text-light text-left">country</small>
                        <input type="text" name="country" class="form-control" placeholder="Enter Country" value="<%= address.country %>" required>

                        <small class="form-text text-light text-left">State</small>
                        <input type="text" name="state" class="form-control" placeholder="Enter State" value="<%= address.state %>" required>

                        <small class="form-text text-light text-left">District</small>
                        <input type="text" name="district" class="form-control" placeholder="Enter District" value="<%= address.district %>" required>

                        <small class="form-text text-light text-left">City</small>
                        <input type="text" class="form-control" name="city" placeholder="Enter City" value="<%= address.city %>" required>

                        <small class="form-text text-light text-left">Street/area</small>
                        <input type="text" class="form-control" name="street" placeholder="Enter Street/area" value="<%= address.street %>" required>

                        <small class="form-text text-light text-left">House Name</small>
                        <input type="text" class="form-control" name="housename" placeholder="Enter House Name" value="<%= address.housename %>" required>

                        <small class="form-text text-light text-left">Pincode</small>
                        <input type="number" class="form-control" name="pincode" placeholder="Enter Pincode" value="<%= address.pincode %>"  required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">DONE</button>
                </form>
                <br>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Z4qH8dP1VAzCEz8bMztf3rw83S73e3Ux4qAQQyr8txI/FEU5ZWyKf6C+YPnRiNTl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>
