<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;0,700;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,900;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mooli&family=Poppins:wght@400;700&family=Roboto+Condensed&family=Roboto+Mono:wght@600&family=Roboto:wght@400;700&family=Skranji&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

    body {
      font-family: 'Cabin', sans-serif;
      background-color: #343a40;
    }

    .container {
      min-height: 700px;
    }

    .card {
      min-width: 500px;
      min-height: 300px;
    }

    .profile {
      background-color: #343a40;
      min-height: 500px;
    }

    .edit {
      min-width: 200px;
    }

    .ordercard {
      background-color: #343a40;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SHOPPIE-E</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/api/product/allproducts">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/api/user/home">HOME</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item mx-2">

          </li>
          <li>
            <% if (user) { %>
              <h5 class="text-dark">
                <%= user.name %>
              </h5>
              <% } else { %>
                <p class="text-light">User not found</p>
                <% } %>

          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!--nav ends-->
  <div class="container mt-5 pb-3">
    <div class="row pt-5">

      <h2 class="text-light pb-3">User Profile</h2>

      <!-- User Details -->
      <div class="col">
        <div class="card mb-4 profile text-light">
          <div class="row">
            <div class="col">
              <div class="card-body">
                <h5 class="card-title pb-2 pt-4">
                  <%= user.name %>
                </h5>

                <p>Email: <%= user.email %>
                </p>
                <p>Phone: <%= user.mobile %>
                </p>
                <a href="/api/user/edit-profile/<%= user._id%>" class="btn btn-dark">Edit Profile</a>
                <a href="/api/user/change-password" class="btn btn-dark">Change Password</a>

              </div>
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title pt-4">Your Current Address</h5>
                <% if (user.address && user.address.length > 0) { %>
                  <% user.address.forEach(address => { %>
                    <ul class="list-group pt-3">
                      <li class="list-group-item"><b>Country:</b>
                        <%= address.country %>
                      </li>
                      <li class="list-group-item"><b>State:</b>
                        <%= address.state %>
                      </li>
                      <li class="list-group-item"><b>District:</b>
                        <%= address.district %>
                      </li>
                      <li class="list-group-item"><b>City: </b>
                        <%= address.city %>
                      </li>
                      <li class="list-group-item"><b>Street: </b>
                        <%= address.street %>
                      </li>
                      <li class="list-group-item"><b>House Name:</b> <%= address.housename %>
                      </li>
                      <li class="list-group-item"><b>Pincode: </b>
                        <%= address.pincode %>
                      </li>
                    </ul>
                      <div class="pt-2 text-center">
                        <a href="/api/user/edit-address/<%= address._id %>" class="btn btn-dark edit">Edit</a>
                      </div>
                    </ul>
                  <% }); %>
                <% } else { %>
                  <div class="pt-3 text-center">
                    <ul class="list-group pt-3 text-start">
                      <li class="list-group-item"><b>Country:</b>
                        
                      </li>
                      <li class="list-group-item"><b>State:</b>
                        
                      </li>
                      <li class="list-group-item"><b>District:</b>
                       
                      </li>
                      <li class="list-group-item"><b>City: </b>
                       
                      </li>
                      <li class="list-group-item"><b>Street: </b>
                        
                      </li>
                      <li class="list-group-item"><b>House Name:</b> 
                      </li>
                      <li class="list-group-item"><b>Pincode: </b>
                        
                      </li>
                    </ul>
                    <div class="pt-2 text-center">
                    <a href="/api/user/profile-add-address" class="btn btn-dark">Add Address</a>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<div class="row">
      <div class="col">
        <div class="card ordercard">
          <div class="card-body">
            <h5 class="card-title text-light pb-3">Your Orders</h5>
            <% user.orders.forEach(order=> { %>
              <div class="col-md-4">
                <div class="card mb-4">
                  <div class="card-body">
                    <h5 class="card-title pb-2">Order Details</h5>
                    
                    <% order.products.forEach(product=> { %>
                      <% const firstImage=product.images[0]; %>
                      <img src="/productImages/<%= firstImage %>" alt="<%= product.title %>" class="img-thumbnail mx-2" style="width: 150px; height: 150px;">

                        <p><b>Product:</b>
                          <%= product.title %>
                        </p>
                        <p><b>Quantity:</b>
                          <%= product.quantity %>
                        </p>
                        <p><b>Amount:</b>
                          <%= product.price %>
                        </p>
                        <% }); %>
                          <p><b>Order Status:</b>
                            <%= order.status %>
                          </p>
                          <p><b>Order Date:</b>
                            <%= order.createdAt %>
                          </p>

                          <% if (order.status !=='Cancelled' ) { %>

                            <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal"
                              data-bs-target="#cancelOrderModal<%= order._id %>">
                              Cancel Order
                          </button>
                            <div class="modal fade" id="cancelOrderModal<%= order._id %>" tabindex="-1"
                              aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="cancelOrderModalLabel">Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you want to cancel this order?</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                      data-bs-dismiss="modal">Close</button>
                                    <form action="/api/user/cancel-order/<%= order._id %>" method="post">
                                      <button type="submit" class="btn btn-dark">Confirm</button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <% } %>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>




  </div>


  <!--footer-->
  <footer class="bg-dark pt-4 pb-4 ">
    <div class="container-fluid text-center text-md-left  ">
      <div class="row text-start text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-warning">
          <h6 class="text-light mb-4 font-weight-bold">ABOUT</h6>
          <a class="navbar-brand text-light " href="">Contact Us</a><br><br>
          <a class="navbar-brand text-light " href="">About Us</a>
          <div class="col-md col-lg col-xl mx-auto mt-3">
            <h6 class="text-light mb-4 font-weight-bold text-warning">OUR PRODUCTS</h6>
            <div class="text-white">
              <a class="navbar-brand text-light " href="">Mobiles</a><br><br>
              <a class="navbar-brand text-light " href="">Laptops</a><br><br>
              <a class="navbar-brand text-light " href="">Telivisions</a><br><br>
              <a class="navbar-brand text-light " href="">Smart Watches</a><br><br>
            </div>
          </div>
        </div>
      </div>
  </footer>
  <script>

  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Z4qH8dP1VAzCEz8bMztf3rw83S73e3Ux4qAQQyr8txI/FEU5ZWyKf6C+YPnRiNTl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>